
.container {
    flex: 1;
    justify-content: center;
    align-items: center;
    &__title{
    font-size: 24px;
    font-weight: bold;
    }
    &__OptionsBar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border: 5px solid yellow;
       &-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border: solid purple 5px;
        &-box {
          width: 16px;
          height: 16px;
          border: solid green 5px;
        }
       }
    }
  }


  .flightList {
    margin-top: 20px;
  }
  .flightButton {
    margin-bottom: 10px;
  }